@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {

    --bg-color: rgb(45, 45, 84);
    --bg-color: radial-gradient(circle, rgba(45, 45, 84, 1) 0%, rgba(5, 5, 20, 1) 70%);

    --second-bg-color: #2d2d547f;
    --text-color: #ededed;
    --sec-text-color: rgba(204, 204, 204, 0.785);
    text-align: center;
    --main-color: #6643EC;
    --box-shadow: var(--text-color) 0rem 0rem 0.1rem 0.1rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}

form {
    color: azure;
}

.grid {
    display: grid;
}

.grid-six-cols {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.grid-three-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: var(--text-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--second-bg-color);
}

/***** Header Section *****/
header {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 0 4rem;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 2rem;
    z-index: 2;
    background-color: var(--second-bg-color);
    box-shadow: .1rem 1rem 10rem var(--second-bg-color);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    & .logo {
        position: relative;
        font-size: 4rem;
        font-weight: 500;
        color: var(--text-color);
        position: relative;
    }

    & .navbar {
        display: flex;
        font-size: 1.8rem;
        gap: 4rem;
        position: relative;

        & a {
            color: var(--text-color);
            transition: all linear 0.3s;
            -webkit-transition: all linear 0.3s;
            -moz-transition: all linear 0.3s;
            -ms-transition: all linear 0.3s;
            -o-transition: all linear 0.3s;
        }

        & i {
            font-size: 3rem;
        }

        & a:hover {
            color: var(--main-color);
        }

        & .active:any-link {
            color: var(--main-color);
        }
    }
}

/***** End Header Section *****/
/***** Main Section *****/
.main {
    width: 100vw;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 12rem;
    margin-top: 24rem;
    gap: 6.4rem;
}

.main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
        font-size: 7rem;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: .1rem;
    }

    & .para {
        width: 45rem;

        & p {
            font-size: 1.5rem;
            margin: 2rem;
            letter-spacing: .06rem;
            text-align: center;
        }
    }

    & .btn-box {
        & a {
            background-color: var(--main-color);
        }
    }

    & .main-cards {

        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4.4rem;
        margin-top: 10rem;

        & .card {
            width: 30rem;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--second-bg-color);
            gap: 4.4rem;
            padding: 4.4rem 1.4rem;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            transition: 0.3s linear;
            -webkit-transition: 0.3s linear;
            -moz-transition: 0.3s linear;
            -ms-transition: 0.3s linear;
            -o-transition: 0.3s linear;
            & .icon{

                display: flex;
                justify-content: center;
                align-items: center;
                width: 7rem;
                height: 7rem;
                background-color: transparent;

                & i {
                    font-size: 4.4rem;
                    color: var(--text-color);
                }

                border-radius: 0.5rem;
                -webkit-border-radius: 0.5rem;
                -moz-border-radius: 0.5rem;
                -ms-border-radius: 0.5rem;
                -o-border-radius: 0.5rem;
                box-shadow: var(--box-shadow);
            }

            & .details {
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                letter-spacing: .04rem;

                & h3 {
                    font-size: 1.8rem;
                }

                & p {
                    font-size: 1rem;
                    color: var(--sec-text-color);
                    letter-spacing: 0.05rem;
                }
            }

            & .more {

                width: 100%;
                height: 2rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 2rem;
                letter-spacing: .06rem;
                border-radius: 0.5rem;
                -webkit-border-radius: 0.5rem;
                -moz-border-radius: 0.5rem;
                -ms-border-radius: 0.5rem;
                -o-border-radius: 0.5rem;
                box-shadow: rgba(0, 0, 0, 0.1) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;

                & i {
                    font-size: 1.4rem;
                }

                & h5 {
                    font-size: 1rem;
                }
            }

            & .more:hover{
                scale: 1.05;
            }
        }

        & .card:hover{
            box-shadow: var(--box-shadow);
        }

    }

}

.btn-box {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    background-color: transparent;
    position: relative;

    & a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 12rem;
        height: 4.5rem;
        background-color: var(--second-bg-color);
        border: .2rem solid var(--main-color);
        border-radius: .8rem;
        -webkit-border-radius: .8rem;
        -moz-border-radius: .8rem;
        -ms-border-radius: .8rem;
        -o-border-radius: .8rem;
        font-size: 1.4rem;
        color: var(--bg-color);
        text-decoration: none;
        font-weight: 600;
        letter-spacing: .1rem;
        overflow: hidden;
        z-index: 1;
        transition: all linear 0.3s;
        -webkit-transition: all linear 0.3s;
        -moz-transition: all linear 0.3s;
        -ms-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
    }   

    & a::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 0%;
        height: 100%;
        background-color: var(--second-bg-color);
        z-index: -1;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
    }
    & a:hover::before {
        width: 100%;
    }
}


/***** End Main Section *****/

/***** Services Section
 *****/
.services {
    width: 100vw;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 12rem;
    margin-top: 20rem;
    gap: 6.4rem;

    .main-services {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4.4rem;
        margin-top: 3.4rem;

        & .service-card {
            width: 32rem;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0.5rem 1rem 4.4rem 1rem;
            gap: 2.4rem;
            background-color: var(--second-bg-color);
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
            box-shadow: var(--main-color) 0rem 0rem 0.05rem 0.05rem;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;

            & img {
                width: 31rem;
                height: auto;
                border-radius: 1rem;
                -webkit-border-radius: 1rem;
                -moz-border-radius: 1rem;
                -ms-border-radius: 1rem;
                -o-border-radius: 1rem;
                box-shadow: var(--main-color) 0rem 0rem 0.05rem 0.05rem;
            }

            & .details {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 2.4rem;

                & h3 {
                    font-size: 2rem;
                    letter-spacing: 0.1rem;
                }

                & p {
                    font-size: 1rem;
                    letter-spacing: 0.05rem;
                    text-align: start;
                    color: var(--sec-text-color);
                }
            }
        }
        & .service-card:hover{
           scale: 1.05;
        }
    }
}

/***** End Services Section
 *****/

/***** Pricing Section *****/

.pricing {
    width: 100vw;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 12rem;
    margin-top: 20rem;
    gap: 6.4rem;

}

.main-pricing {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.4rem;
    margin-top: 3.4rem;

    & .price-card {
        width: 35rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        background-color: var(--second-bg-color);
        padding: 4.4rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        box-shadow: var(--box-shadow);
        transition: 0.7s;
        -webkit-transition: 0.7s;
        -moz-transition: 0.7s;
        -ms-transition: 0.7s;
        -o-transition: 0.7s;
        & h3{
            font-size: 4.4rem;
            letter-spacing: 0.04rem;
        }

        & p {
            font-size: 1.2rem;
            letter-spacing: 0.04rem;
            color: var(--sec-text-color);
            text-align: start;
        }

        & .line {
            width: 100%;
            height: 0.3px;
            background-color: var(--main-color);
            opacity: 0.3;
            border-radius: 2rem;
            -webkit-border-radius: 2rem;
            -moz-border-radius: 2rem;
            -ms-border-radius: 2rem;
            -o-border-radius: 2rem;
            margin: 3rem 3rem 0rem 0rem;
        }

        & .btn-box {
            & a {
                width: 8rem;
                height: 3.3rem;
                font-size: 1rem;
                border-radius: 3rem;
                -webkit-border-radius: 3rem;
                -moz-border-radius: 3rem;
                -ms-border-radius: 3rem;
                -o-border-radius: 3rem;
            }

            & a:hover{
                 scale: 1;
            }

            margin-bottom: 2rem;
        }

        & .benifits {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 3.5rem;
            gap: 0.8rem;

            & .ben {
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 1rem;

                & i {
                    font-size: 1.4rem;
                }
            }
        }

        & .buy {
            width: 100%;
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 3.5rem;
            box-shadow: var(--box-shadow);
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;

            & p {
                font-size: 1.4rem;
                font-weight: 600;
                color: var(--text-color);
            }
        }

        & .buy:hover{
            box-shadow: var(--main-color) 0rem 0rem 0.1rem 0.1rem;
        }
    }
     
    & .price-card:hover{
        margin-bottom: 18rem;
    }
}
/***** End Pricing Section *****/


/***** About *****/  

.about {
    width: 100vw;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 12rem;
    margin-top: 18rem;
    gap: 6.4rem;

    & .about-main{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6.4rem;
        margin-top: 10rem;
        padding: 6.4rem;
        background-color: var(--second-bg-color);
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;

        & .content-main{
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        & .content{
             width: 100%;
             display: flex;
             flex-direction: column;
             align-items: start;
             justify-content: center;
             gap: 2.4rem;

             & h3{
                font-size: 4rem;
                letter-spacing: 0.06rem;
             }

             & p{
                font-size: 1.4rem;
                letter-spacing: 0.05rem;
                text-align: start;
                color: var(--sec-text-color);
             }
        }


        & .img{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            & img{
                width: 30rem;
                border-radius: 5rem;
                -webkit-border-radius: 5rem;
                -moz-border-radius: 5rem;
                -ms-border-radius: 5rem;
                -o-border-radius: 5rem;
}
        }
    }
  
}
/***** End About *****/
/***** Resuable *****/ 
.heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & h3 {
        font-size: 6rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        position: relative;
    }

    & h3::before {
        content: attr(REFL-TEXT);
        position: absolute;
        font-size: 9rem;
        letter-spacing: 0.1rem;
        top: -6.5rem;
        left: -5.5rem;
        color: var(--text-color);
        opacity: 0.08;
        text-shadow: var(--text-color) 0rem 0rem 0.05rem;
        transform-origin: top;
        z-index: -1;
    }
}
.sub-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6.4rem;
    gap: 1.2rem;
    line-height: 4.4rem;

    & .btn-box {
        & a {
            border-radius: 3rem;
            -webkit-border-radius: 3rem;
            -moz-border-radius: 3rem;
            -ms-border-radius: 3rem;
            -o-border-radius: 3rem;
        }
        & a:hover{
            scale: 1;
       }
    }

    & h4 {
        font-size: 3.5rem;
        font-weight: 500;
        letter-spacing: 0.05rem;
        position: relative;
    }
}
 /***** End Resuable *****/
/***** footer  *****/

footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.footer-item {
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--second-bg-color);
    padding: 8rem 8rem 2rem 8rem;
    margin-bottom: 2.4rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;

    & .footer-content{
        width: 100%;
        height: auto;

        & .footer-cards{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & .fhead{
                 font-size: 2.4rem;
                 font-weight: 500;
                 text-align: start;
            }

            & .fsub{
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 0.5rem;
                & p{
                    font-size: 1.4rem;
                    letter-spacing: 0.04rem;
                    color: var(--text-color);
                    text-align: start;

                }
                & a{
                    font-size: 1.4rem;
                    letter-spacing: 0.04rem;
                    color: var(--sec-text-color);
                }
            }
        }
    }

    & .para-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        margin-top: 8rem;
    }
}

.top-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 11rem;
}

#top {
    top: 100%;
    right: 0;
    font-size: 5.4rem;
    color: var(--text-color);

}

/***** End footer  *****/
/***** Animation *****/
@keyframes scale {
    50% {
        scale: 1.1;
    }
}

/***** Index Page Responsive *****/
@media (width <=1260px) {
    html {
        font-size: 58%;
    }

    h1,
    h2,
    h3,
    p {
        font-size: 90%;
    }
}

@media (width <=1130px) {
    html {
        font-size: 50%;
    }
}

@media (width <=1020px) {
    .grid-two-cols {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-four-cols {
        grid-template-columns: repeat(2, 1fr);
        gap: 6.4rem;
    }

    .main-content {
        width: 100%;
        height: auto;
        order: 2;
        justify-content: center;
    }

    h1,
    h2,
    h3,
    p {
        font-size: 85%;
    }

    .main-img {
        height: 130%;
    }
}

@media (width <=960px) {

    h1,
    h2,
    h3,
    p {
        font-size: 50%;
    }
}

@media (width <=820px) {
    html {
        font-size: 35%;

    }

    h1,
    h2,
    h3,
    p {
        font-size: 35%;
    }

    .skills {

        & .percent-cpp::before,
        .percent-css::before,
        .percent-html::before,
        .percent-js::before,
        .percent-c::before,
        .percent-py::before {
            top: 1.9px;
        }
    }
}

@media (width <=580px) {
    html {
        font-size: 25%;

    }

    h1,
    h2,
    h3,
    p {
        font-size: 65%;
    }

    .main-img {
        min-width: 100px;
    }

    .skills {

        & .percent-cpp::before,
        .percent-css::before,
        .percent-html::before,
        .percent-js::before,
        .percent-c::before,
        .percent-py::before {
            top: 1px;
        }
    }
}

@media (width <=420px) {
    html {
        font-size: 20%;

    }

    h1,
    h2,
    h3,
    p {
        font-size: 60%;
    }
}

@media (width <=360px) {
    html {
        font-size: 15%;

    }

    h1,
    h2,
    h3,
    p {
        font-size: 55%;
    }
}

@media (width <=320px) {
    html {
        font-size: 15%;

    }

    h1,
    h2,
    h3,
    p {
        font-size: 50%;
    }

    .skills {

        & .percent-cpp::before,
        .percent-css::before,
        .percent-html::before,
        .percent-js::before,
        .percent-c::before,
        .percent-py::before {
            top: .5px;
        }
    }
}

/***** End Index Page Responsive *****/